*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body{
    font-family: "Inter", serif;
    font-weight: 400;
    background-color: #d0d4d5;
}

main{
    height: calc(100vh-100px);
    width: 100%;
    padding: 40px;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 40px; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.nav-part-1{
    display: flex;
    align-items: center;
    
}

.nav-part-1 img{
    height: 100px;
    width: auto;
    margin-right: 100px;
    cursor: pointer;
    margin-left: 40px;
}


.list ul{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    list-style: none;
}

.list ul li{
    margin-right: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.list a{
    text-decoration: none;
    color:#000;
}
.nav-part-2{
    margin-right: 40px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.product{
    height: 370px;
    width: 250px;
    background-color: #1011;
    box-shadow: 10px 10px 17px -4px rgba(31,26,31,0.51);
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

.product:hover{
    transform: scale(1.1); /* Enlarges the element */
    box-shadow: 15px 15px 25px -4px rgba(31, 26, 31, 0.6); 
    z-index: 2;
}

.product::-webkit-scrollbar{
    display: none;
}
.product img{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 20%;
    object-fit: contain;
}

.product h4{
    font-size: 19px;
    text-transform: capitalize;
    position: absolute;
    bottom: 25%;
    padding-left: 10px;
}

.catagory{
    font-size: 19px;
    text-transform: capitalize;
    position: absolute;
    bottom: 20%;
    padding-left: 10px;
}

.price{
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    position: absolute;
    bottom: 5%;
    padding-left: 10px;
}


