*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body{
    font-family: "Inter", serif;
    font-weight: 400;
    background-color: #d0d4d5;
    
   
}

main{
    height: calc(100vh - 100px);
    width: 100%;
    position: relative;
    display: flex;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-part-1{
    display: flex;
    align-items: center;
    
}

.nav-part-1 img{
    height: 100px;
    width: auto;
    margin-right: 100px;
    cursor: pointer;
    margin-left: 40px;
}


.list ul{
    display: flex;
    align-items: center; 
     justify-content: space-between;
    list-style: none;
}

.list ul li{
    margin-right: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.list a{
    text-decoration: none;
    color:#000;
}
.nav-part-2{
    margin-right: 40px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.content-left{
    height: 100%;
    width: 40%;
    padding: 80px 100px;
}

.content-left h5{
    text-transform: capitalize;
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.content-left h1{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 50px;
    color: #000;
}

.content-left p{
    font-size: 20px;
    color: #555;
    margin-bottom: 30px;
    width: 80%;
    text-align: justify;
}

.btn{
    background-color: #000;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 40px;
    border: none;
    border-top-left-radius: 0;
    cursor: pointer;
}

.content-right{
    height: 100%;
    width: 60%;
    padding: 100px 100px;
    white-space: nowrap;
    overflow-x: auto;
}

.content-right::-webkit-scrollbar{
    display: none;
}

.product{
    height: 370px;
    width: 250px;
    background-color: #1011;
    box-shadow: 10px 10px 17px -4px rgba(31,26,31,0.51);
    position: relative;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}
.product a {
    color: inherit !important; /* Force the color to inherit */
    text-decoration: none !important; /* Force removal of underline */
}

.product:hover{
    transform: scale(1.1); /* Enlarges the element */
    box-shadow: 15px 15px 25px -4px rgba(31, 26, 31, 0.6); 
    z-index: 2;
}

.product img{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 20%;
    object-fit: contain;
}


.product h4{
    font-size: 19px;
    text-transform: capitalize;
    position: absolute;
    bottom: 25%;
    padding-left: 10px;
}

.catagory{
    font-size: 19px;
    text-transform: capitalize;
    position: absolute;
    bottom: 20%;
    padding-left: 10px;
}

.price{
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    position: absolute;
    bottom: 5%;
    padding-left: 10px;
}

#contact{
    margin-top: 20px;
}

#contact h3{
    text-align: center;
    color: #000;

}

#contact hr{
    width: 100px;
    margin: auto;
    border: 3px solid orange;
}

.contact_info{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.contact_info div{
    border: 2px solid orange;
    background-color: antiquewhite;
    flex: 1;
    line-height: 25px;
    text-align: center;
    margin-bottom: 10px;
}

footer{
    overflow-y: auto;
}


.prod-card{
    height: 370px;
    width: 250px;
    position: relative;
}

